@font-face {
  font-family: 'iconfont'; /* Project id 3380251 */
  src: url('//at.alicdn.com/t/c/font_3380251_bk5f81fsr6.woff2?t=1697613968238') format('woff2'),
    url('//at.alicdn.com/t/c/font_3380251_bk5f81fsr6.woff?t=1697613968238') format('woff'),
    url('//at.alicdn.com/t/c/font_3380251_bk5f81fsr6.ttf?t=1697613968238') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: inherit;
  color: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanwushuju:before {
  content: '\e619';
}

.icon-zixun:before {
  content: '\e656';
}

.icon-geren:before {
  content: '\e61c';
}

.icon-dianying:before {
  content: '\e8ae';
}

.icon-home:before {
  content: '\e6b8';
}

.icon-dianzan:before {
  content: '\e600';
}

.icon-shoucang:before {
  content: '\e86d';
}

.icon-fanhui:before {
  content: '\e624';
}

.icon-fenxiang:before {
  content: '\e8b0';
}

.icon-yingyuan:before {
  content: '\e8c0';
}
